<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      
      <h2>Stats</h2>
      <div class="stats flexrow">
        {{#each system.stats as |stat key|}}
        <div class="stats flexcol flex-group-center">
          <label for="system.stats.{{key}}.value" class="resource-label stat-roll flexlarge align-left" data-stat-name="{{key}}" data-stat-name="{{localize (lookup @root.config.stats key)}}">{{localize (lookup @root.config.statAbbreviations key)}}</label>
          <input type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
        </div>
        {{/each}}
      </div>

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-5col">

        <div class="resource flex-group-center">
          <label for="system.resources.guard.value" class="resource-label">Guard</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.resources.guard.value" value="{{system.resources.guard.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="number" name="system.resources.guard.max" value="{{system.resources.guard.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.resources.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.resources.health.value" value="{{system.resources.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="number" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.resources.willpower.value" class="resource-label">Willpower</label>
          <input type="number" name="system.resources.willpower.value" value="{{system.resources.willpower.value}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
          <label for="system.resources.defense.value" class="resource-label">Defense</label>
          <input type="number" name="system.resources.defense.value" value="{{system.resources.defense.value}}" data-dtype="Number"/>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.attributes.level" value="{{system.attributes.level}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{!-- For the main features list, span the right two columns --}}
      <section class="main">
        {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
        {{> "systems/die-rpg/templates/actor/parts/actor-features.hbs"}}
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/die-rpg/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/die-rpg/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/die-rpg/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
